@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    //全局变量
    var strDomainId = '';
    $(function () {
        strDomainId = $('#UserId').val();
    });

</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>首页</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">七旅游CMS</a>
            </li>
            <li>
                <a>管理列表</a>
            </li>
            <li class="active">
                <strong>首页</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
