
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>添加</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">渠道管理</a>
            </li>
            <li>
                <a>管理列表</a>
            </li>
            <li class="active">
                <strong>添加</strong>
            </li>
        </ol>
        <div class="text-center" style="color:#CC0000;font-size:24px;">
            <span id="message_info"></span><!--显示服务器返回的提示信息-->
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加</h5>
                </div>
                <div class="ibox-content">
                    <form method="get" action="">
                        <div class="modal-body">
                            <div class="input-group date" style="margin-top:10px;">
                                <span class="input-group-addon btn-w-m">类型</span>
                                <select class="btn btn-white" id="typecombo">
                                    <option value="酒店">酒店</option>
                                    <option value="线路">线路</option>
                                    <option value="门票">门票</option>
                                </select>
                            </div>
                            <div class="input-group" style="margin-top:10px;">
                                <span class="input-group-addon btn-w-m">名字</span><input id="Name" type="text" class="form-control" value="" name="add_kr_name" placeholder="必填">
                            </div>
                            <div class="input-group" style="margin-top:10px;">
                                <span class="input-group-addon btn-w-m">描述</span><input id="Description" type="text" class="form-control" value="" name="add_ds_price">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input id="btnAdd" type="button" value="完成" class="btn btn-primary btn-w-m">
                            @*<input type="reset" value="取消" class="btn btn-white btn-w-m">*@
                            <input type="reset" value="返回" onclick="Helpers.GoBack();" class="btn btn-white btn-w-m">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(function () {


        $("#btnAdd").click(function () {

            Add();
        })

    })

    function Add() {

        var strType = $('#typecombo').val();
        var strName = $('#Name').val();
        var strDescription = $('#Description').val();

        if (Helpers.IsNullOrEmpty(strType)) {
            showMsg('类型不能空!');
            return;
        }

        if (Helpers.IsNullOrEmpty(strName)) {
            showMsg('必填字段不能空!');
            return;
        }

        $.ajax({
            url: '/Channel/Insert',
            type: 'POST',
            data: {
                strType:strType,
                strName: strName,
                strDescription: strDescription
            },
            async: false,
            timeout: 1000,
            beforeSend: function () {

            },
            success: function (data) {
                $('#noticInfo').html(data.Notice);
                if (data.Bresult) {
                    window.location.href = '/Channel/Index';
                } else {
                    bootbox.alert(data.Notice);
                }
            },
            complete: function (XMLHttpRequest, textStatus) {

            },
            error: function (xhr) {
            }

        });

        function showMsg(message) {
            $('#message_info').html('');
            $('#message_info').html(message);
        }
    }

</script>

